@model OwnBI.ViewModels.DocViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Type</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input class="form-control text-box single-line valid" id="Doc_Id" name="Doc.Id" type="hidden" value="@Model.Id">
        <input class="form-control text-box single-line valid" id="Doc_Type" name="Doc.Type" type="hidden" value="@Model.TypeId">

        @foreach (var metaTag in Model.MetaTags)
        {
            <div class="form-group">
                <label class="control-label col-md-2" for="DocType_Name">@metaTag.Name</label>
                <div class="col-md-10">
                    @{
                        if (metaTag.DataType == "datetime" || metaTag.DataType == "number")
                        {
                            <input class="form-control @((metaTag.DataType == "datetime")? "datepicker" : "text-box") valid" id="Doc_@metaTag.Id" name="Doc.@metaTag.Id" type="text" value="@Model.Values[metaTag.Id.ToString()]">
                        }
                        else
                        {
                            <textarea class="form-control" rows="1" id="Doc_@metaTag.Id" name="Doc.@metaTag.Id">@Model.Values[metaTag.Id.ToString()]</textarea>
                        }
                    }
                    
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() { 
        $('.datepicker').datetimepicker({
            format: "DD.MM.YYYY"
        });
    });
</script>
