@model OwnBI.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OwnBI</h1>
    <p class="lead">- Your own insights.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Ausgaben</div>
            <div class="panel-body" style="text-align: right">
                <h2>@String.Format("{0:c}", Model.SummeAusgaben)</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Einnahmen</div>
            <div class="panel-body" style="text-align: right;">
                <h2>@String.Format("{0:c}", Model.SummeEinnahmen)</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        @Html.Partial("_tagCloud", Model.NameTagCloud)
    </div>

    <div class="col-md-6">
        @Html.Partial("_tagCloud", Model.DocTypeTagCloud)
    </div>

    <div class="col-md-6">
        @Html.Partial("_tagCloud", Model.OrtTagCloud)
    </div>

    <div class="col-md-6">
        @Html.Partial("_tagCloud", Model.KategorieTagCloud)
    </div>

    <div class="col-md-6">
        @Html.Partial("_tagCloud", Model.HandelTagCloud)
    </div>

    <div class="col-md-6">
        @Html.Partial("_chart", new OwnBI.ViewModels.ChartViewModel()
        {
            Title = "Ausgaben pro Kategorie in €",
            Height = 300,
            Type = "bar",
            Values = new List<float>(Model.KategorieTagCloud.Tags.Values),
            Labels = new List<string>(Model.KategorieTagCloud.Tags.Keys)
        })
    </div>

    <div class="col-md-6">
        @Html.Partial("_chart", new OwnBI.ViewModels.ChartViewModel()
        {
            Title = "Ausgaben pro Handel in €",
            Height = 300,
            Type = "bar",
            Values = new List<float>(Model.HandelTagCloud.Tags.Values),
            Labels = new List<string>(Model.HandelTagCloud.Tags.Keys)
        })
    </div>
</div>


